/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Global styles */
  body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: #f8f8f8;
    justify-content: center; /* center items horizontally */
    align-items: center; /* center items vertically */
  }
  
  a {
    color: #007bff;
    text-decoration: none;
  }
  
  ul {
    list-style: none;
  }
  
  /* Header styles */
  header {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    justify-content: center; /* center items horizontally */
    align-items: center; /* center items vertically */
  }
  
  header h1 {
    font-size: 2.5rem;
    color: #007bff;
    justify-content: center; /* center items horizontally */
    align-items: center; /* center items vertically */
    
  }
  
  /* Navigation styles */
  nav {
    background-color: #007bff;
    padding: 1rem;
    display: flex;
    justify-content: center; /* center items horizontally */
    align-items: center; /* center items vertically */
  
  }
  
  nav ul {
    display: flex;
    justify-content: space-between;
  }
  
  nav li {
    margin: 0 1rem;
  }
  
  nav a {
    color: #fff;
  }
  
  /* Main content styles */
  main {
    max-width: 800px;
    margin: 2rem auto;
    padding: 1rem;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  main h2 {
    font-size: 2rem;
    color: #007bff;
    margin-bottom: 1rem;
  }
  
  main p {
    font-size: 1.1rem;
    color: #444;
    margin-bottom: 1rem;
  }
  
  /* Footer styles */
  footer {
    background-color: #f8f8f8;
    padding: 1rem;
    text-align: center;
    font-size: 0.9rem;
    color: #444;
  }

.search-bar {
  display: flex;
  margin: 20px 0;
}

.search-bar input[type="text"] {
  flex-grow: 1;
  padding: 10px;
  font-size: 16px;
  border: 2px solid #ccccccee;
  border-radius: 5px 0 0 5px;
}

.search-bar button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #333333;
  color: #ffffff;
  border: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

.search-results {
  display: flex;
  flex-wrap: wrap;
}

.cocktail {
  width: 50%;
  padding: 20px;
  box-sizing: border-box;
}

.cocktail h2 {
  margin-top: 0;
}

.cocktail img {
  width: 100%;
  max-width: 300px;
  margin-bottom: 10px;
}

.cocktail p {
  margin: 0;
  font-size: 16px;
}

#dad-joke {
    
    font-size: 1.2rem;
    margin-top: 2rem;
    padding: 1rem;
    border: 2px solid rgb(0, 68, 255);
    border-radius: 5px;
    background-color: #d9f6ff;
    text-align: center;
    color: white;
  }